@import "../../_variables.scss";

#about {
  margin: 10em 0 2em 0;
}

@media (max-width: 767px) {
  .service {
    width: 100%;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.service {
  margin: 2em 0 2em;
}

.stadistics {
  border-radius: 15px;
  max-width: 75%;
  margin: 2em;
  padding: 2em;
  text-align: center;
  box-shadow: -1px -2px 51px 0px rgba(0, 0, 0, 0.11);

  h3 {
    color: $color-charcoal;
  }
  h6 {
    color: $color-gray;
  }

  .info {
    padding: 2em;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .stadistics {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .stadistics {
    max-width: 50%;
  }
}
