@import "../../_variables.scss";


#about {
  margin: 10em 0 2em 0;

}

#about,#services{
  padding-top: 2em;

}
.stadistics {
  margin: 5em 0 5em 0;


}

@media (max-width: 767px) {
  .stadistics {
    width: 100%;

  }
  .service {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



.stadistics {
  width: $md-container;
  border-radius: 15px;

  text-align: center;
  box-shadow: -1px -2px 51px 0px rgba(0, 0, 0, 0.11);

  h3 {
    color: $color-charcoal;
  }
  h6 {
    color: $color-gray;
  }

  .info {
    padding: 2em;
    margin: auto;
  }
}
