<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-5">
        <h2>ABOUT US</h2>
        <h3>Our vision is to make your travel stress free</h3>
      </div>
      <div class="col-12 col-sm-6 offset-sm-1">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a
          purus ornare, vehicula magna vitae, tempor metus. Pellentesque
          habitant morbi tristique senectus et netus et malesuada fames ac
          turpis egestas.
        </p>
      </div>
    </div>
    <div class="centered">
      <div class="row stadistics show-small">
        <div class="col-12 col-md info">
          <h3>25+</h3>
          <h6>Years of service</h6>
        </div>
        <div class="col-12 col-md info">
          <h3>20+</h3>
          <h6>Tours available</h6>
        </div>
        <div class="col-12 col-md info">
          <h3>2000+</h3>
          <h6>Customers</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="services">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 img-wrapper order-last order-md-first">
        <img class="lg-img" src="/assets/pictures/services.jpg" />
        <span class="label">
          <div class="row">
            <div class="col name">Lorem ipsum dolor sit</div>
          </div>
          <div class="row">
            <div class="col price">$800 USD</div>
            <div class="col location">Lorem ipsum dolor sit</div>
          </div>
        </span>
      </div>
      <div class="col-12 col-md-6 pt-4">
        <h2>WHAT WE SERVE</h2>
        <h3>Top values for you</h3>

        <div class="service">
          <div class="bullet bg-orange"></div>
          <h6>Lorem ipsum dolor sit amet</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          </p>
        </div>
        <div class="service">
          <div class="bullet bg-pink"></div>
          <h6>Lorem ipsum dolor sit amet</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          </p>
        </div>
        <div class="service">
          <div class="bullet bg-green"></div>
          <h6>Lorem ipsum dolor sit amet</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          </p>
        </div>
      </div>
    </div>

    <div class="centered">
      <div class="row stadistics hide-small">
        <div class="col-12 col-sm info">
          <h3>25+</h3>
          <h6>Years of service</h6>
        </div>
        <div class="col-12 col-sm info">
          <h3>20+</h3>
          <h6>Tours available</h6>
        </div>
        <div class="col-12 col-sm info">
          <h3>2000+</h3>
          <h6>Customers</h6>
        </div>
      </div>
    </div>
  </div>
</div>
