<nav class="navbar navbar-expand-md" ngClass="toggleNavbar">
  <div class="container-sm">
    <a class="navbar-brand abs" href="#home"
      ><img class="logo" src="/assets/pictures/logo.png"
    /></a>
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseNavbar"
    >
      <i class="bi bi-list"></i>
    </button>
    <div class="navbar-collapse collapse" id="collapseNavbar">
      <ul class="navbar-nav navbar-content">
        <li class="nav-item active">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tours">Tours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item hide-large">
          <span class="nav-link">+52 (664) 123 - 4567</span>
        </li>
        <li class="nav-item hide-medium">
          <span class="phone">+52 (664) 123 - 4567</span>
          <a class="btn btn-primary hide-medium" href="#tours"> Book now </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
