<div id="contact">
  <div class="container">
    <div class="text-center" data-aos="fade-up" data-aos-delay="150" data-aos-offset="100">
      <h2>CONTACT US</h2>
      <h3>We are here for you</h3>
    </div>
    <div class="centered">
      <div class="row media gy-3">
        <div class="col-12 col-sm-12 col-lg" data-aos="flip-left" data-aos-delay="300">
          <div class="info">
            <div class="bullet bg-purple">
              <i class="bi bi-geo-alt-fill text-white"></i>
            </div>
            <p>
              Blvd. Benito Juárez 300,<br />
              Centro, 22710 Rosarito, B.C.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg" data-aos="flip-left" data-aos-delay="600">
          <div class="info">
            <div class="bullet bg-purple">
              <i class="bi bi-telephone-fill text-white"></i>
            </div>
            <p>+52 (664) 123 - 4567</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg" data-aos="flip-left" data-aos-delay="900">
          <div class="info">
            <div class="bullet bg-purple">
              <i class="bi bi-envelope-fill text-white"></i>
            </div>
            <p>contact@bajadiscover.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
