<div id="contact">
  <div class="container">
    <div class="text-center">
      <h2>CONTACT US</h2>
      <h3>We are here for you</h3>
    </div>
    <div class="centered">
      <div class="row media gy-3">
        <div class="col-12 col-sm-12 col-lg">
          <div class="info">
            <div class="bullet bg-purple">
              <i class="bi bi-geo-alt-fill text-white"></i>
            </div>
            <p>
              Blvd. Benito Juárez 300,<br />
              Centro, 22710 Rosarito, B.C.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg ">
          <div class="info">
            <div class="bullet bg-purple">
              <i class="bi bi-telephone-fill text-white"></i>
            </div>
            <p>+52 (664) 123 - 4567</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg ">
          <div class="info">
            <div class="bullet bg-purple">
              <i class="bi bi-envelope-fill text-white"></i>
            </div>
            <p>contact@bajadiscover.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="centered">
      <div class="row form">
        <div class="col">
          <form>
            <div class="row form-groups">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="name"
                    placeholder=""
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="email"
                    placeholder=""
                  />
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="phone"
                    placeholder=""
                  />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea
                    class="form-control"
                    id="message"
                    rows="7"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="submit">
              <button class="btn btn-secondary text-white">
                Send message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
