<div id="tours">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-md"
        data-aos="fade-right"
        data-aos-delay="150"
        data-aos-offset="100"
      >
        <h2>OUR TOURS</h2>
        <h3>Explore Baja California</h3>
      </div>
      <div class="col-12 col-md-auto my-auto navigation" data-aos="zoom-out">
        <button class="btn btn-action" [disabled]="curPage == 1" (click)="curPage = curPage - 1">
          <i class="bi bi-chevron-left"></i>
        </button>
        <button class="btn btn-action" [disabled]="curPage >= tours.length/pageSize" (click)="curPage = curPage + 1">
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
    <div
      id="gallery"
      class="row g-4"
      data-aos="fade-left"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
    >
      <div
        class="col-6 col-md-4"
        *ngFor="
          let tour of tours
            | slice: curPage * pageSize - pageSize:curPage * pageSize
        ">
        <div
          class="card"
          [ngClass]="{ 'card-selected': toursSelected.name == tour.name }"
          (click)="selectTour(tour)"
        >
          <img
            class="card-img-top"
            src="{{ tour.picture }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h6 class="card-title">{{ tour.name }}</h6>
            <div class="row">
              <div class="col-auto">
                <span class="price">{{ tour.price }}</span>
              </div>
              <div class="col text-end">
                <span class="location">{{ tour.location }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tour" class="row" data-aos="fade-up" data-aos-delay="500">
      <div class="col">
        <div class="card">
          <div class="row g-0">
            <div class="col">
              <div class="card-block p-4">
                <h6 class="card-title">{{ toursSelected.name }}</h6>
                <p class="card-text">
                  {{ toursSelected.description }}
                </p>
                <div class="about">
                  <div class="row">
                    <div class="col"><span class="label">Price</span></div>
                    <div class="col"><span class="label">Type</span></div>
                    <div class="col"><span class="label">Duration</span></div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span class="price">{{ toursSelected.price }}</span>
                    </div>
                    <div class="col">
                      <span class="info">{{ toursSelected.type }}</span>
                    </div>
                    <div class="col">
                      <span class="info"> {{ toursSelected.duration }} </span>
                    </div>
                  </div>
                </div>
                <div class="actions">
                  <a href="#" class="btn btn-primary">Book now</a>
                </div>
              </div>
            </div>
            <div class="col-5 hide-medium">
              <img
                class="card-img-right"
                src="{{ toursSelected.picture }}"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
