$color-green: #8cc044;
$color-pink: #f7178d;
$color-purple: #a0237f;
$color-blue: #1093a1;
$color-orange: #ed992f;
$color-charcoal:#252525;
$color-gray:#636363;
$color-light-gray: #d6d6d6;

$theme-colors: (
  "primary":    $color-pink
);

$min-contrast-ratio:3;
