
@import './_variables.scss';
@import './node_modules/bootstrap/scss/bootstrap.scss';

.text-green{
  color: $color-green;
}


h3{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}

h2{
  font-style: normal;
  font-weight: bold;
  font-size: 50px;

}


@media (max-width: 576px) {
  .hide-small {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-medium {
    display: none;
  }
}
@media (max-width: 992px) {
  .hide-large {
    display: none;
  }
}
