<div id="home">
  <div class="container">
    <div class="title">
      <h4
        id="subtitle"
        class="break-text"
        data-aos-anchor="#navbar"
        data-aos="fade-right"
        data-aos-delay="300"
      >
        Escape from reality,
      </h4>
      <h5
        id="title"
        data-aos-anchor="#subtitle"
        data-aos-delay="600"
        data-aos-anchor="#navbar"
        class="break-text"
        data-aos="fade-right"
      >
        Explore <span class="text-green highlight">Baja California</span> today!
      </h5>
      <p
        id="description"
        data-aos-anchor="#title"
        data-aos-delay="900"
        data-aos-anchor="#navbar"
        data-aos="fade-right"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in neque
        dui. Maecenas vulputate nec ipsum id tempor. Sed vel velit a orci rutrum
        congue. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos.
      </p>
    </div>
  </div>
</div>
