<div class="home">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="title">
      <h3 class="break-text">Escape from reality,</h3>
      <h2 class="break-text">Explore <span class="text-green highlight">Baja California</span> today!</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in neque
        dui. Maecenas vulputate nec ipsum id tempor. Sed vel velit a orci rutrum
        congue. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos.
      </p>
    </div>
  </div>
</div>
