@import "../../_variables.scss";

$picture-height: 35em;

#home {
  background-image: url("/assets/pictures/home.jpg");
  background-size: cover;
  background-color: gray;
  height: 100vh;
  min-height: 800px;
}

.title {
  position: relative;
  width: 80%;
  top: 20em;
  color: white;
}

.highlight {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .title {
    top: 15em;
  }

  .highlight {
    word-spacing: 0px;
  }
}
@media (max-width: 500px) {
  .break-text {
    word-spacing: 9999999px;
  }
}

@media (min-width: 768px) {
  #about {
    margin: 10em 0 7.5em 0;
  }
}

#scrolldown a {
  position: absolute;
  left: 50%;
  bottom: 2%;
  z-index: 2;
  display: inline-block;
}

#scrolldown {
  a {
    padding-top: 70px;
  }
  a:hover {
    opacity: 0.5;
  }
  a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    animation: fade-down 1.5s infinite;
    box-sizing: border-box;
  }
}

@keyframes fade-down {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
