<div id="home" >
  <div class="container">
    <div clas></div>
    <div class="title">
      <h4
        id="subtitle"
        class="break-text"
        data-aos-anchor="#navbar"
        data-aos="fade-right"
        data-aos-delay="300"
      >
        Escape from reality,
      </h4>
      <h5
        id="title"
        data-aos-anchor="#subtitle"
        data-aos-delay="600"
        data-aos-anchor="#navbar"
        class="break-text"
        data-aos="fade-right"
      >
        Explore <span class="text-green highlight">Baja California</span> today!
      </h5>
  <p
        id="description"
        data-aos-anchor="#title"
        data-aos-delay="900"
        data-aos-anchor="#navbar"
        data-aos="fade-right"
      >
      Let us be your best ally and take you to places you have always dreamed of
      </p>
    </div>


  </div>
</div>
