<div id="opinions">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 img-wrapper order-last order-md-first">
        <img
          id="ad2"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
          class="lg-img"
          src="/assets/pictures/opinion.jpg"
        />
        <span
          class="label"
          data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="1500"
          data-aos-delay="500"
          data-aos-anchor="#review"
        >
          <div class="row">
            <div class="col name">Wine Route</div>
          </div>
          <div class="row">
            <div class="col-auto price">From $75 USD</div>
            <div class="col location">Ensenada, B.C.</div>
          </div>
        </span>
      </div>
      <div class="col-12 col-md-5 pt-4 my-auto">
        <div data-aos="fade-left" data-aos-delay="150" data-aos-offset="100">
          <h2>WHAT THEY SAY</h2>
          <h3>What our customer say about us</h3>
        </div>

        <div id="review"
          class="review"
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-offset="200"
        >
          <div class="quote">“</div>
          <p>
            It was an amazing experience. Everyone was so kind and helpful. I highly recommend their vineyard tour.
          </p>
          <div class="row">
            <div class="col-auto">
              <img class="avatar" src="/assets/pictures/avatar.jpg" />
            </div>
            <div class="col-auto label my-auto">
              <div class="row">
                <div class="col name">Itzel Contreras</div>
              </div>
              <div class="row">
                <div class="col website">Tripadvisor</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
