<div id="opinion">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 img-wrapper order-last order-md-first">
        <img class="lg-img" src="/assets/pictures/opinion.jpg" />
        <span class="label">
          <div class="row">
            <div class="col name">Lorem ipsum dolor sit</div>
          </div>
          <div class="row">
            <div class="col price">$800 USD</div>
            <div class="col location">Lorem ipsum dolor sit</div>
          </div>
        </span>
      </div>
      <div class="col-12 col-md-5 pt-4 my-auto">
        <h2>WHAT THEY SAY</h2>
        <h3>What our customer say about us</h3>

        <div class="review">
          <div class="quote">“</div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          </p>
          <div class="row">
            <div class="col-2"><img class="avatar" src="/assets/pictures/avatar.jpg"></div>
            <div class="col-10 label my-auto">
              <div class="row">
                <div class="col name">Itzel Contreras</div>
              </div>
              <div class="row">
                <div class="col website">Tripadvisor</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
